<div class="main">
  <div class="slider">
    <%- partial('_partial/archives.ejs') %>
  </div>
  <div class="content" id="content">
    <%- partial('_partial/article.ejs', {item: page, index: false}) %>
  </div>
</div>