<article class='<%=item.layout %>'>
  <div class='bread'></div>
  <h1 class='title'><%=item.title %></h1>
  <div class="article-entry" itemprop="articleBody">
    <%- item.content %>
  </div>
</article>