<!-- create by xch  2018/7/20 -->
<header class="header">
  <nav class="nav"></nav>
  <div class="top">
    <a href="<%- url_for() %>">
      <div class="logo">
        <%- image_tag(theme.logo, alt='logo') %>
      </div>
    </a>
    <div class="links">
      <ul class="menu-ul">
        <% for (name in theme.menu) { %>
          <li class="menu-item">
            <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%= name %></a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>
</header>