<!-- create by xch  2018/7/20 -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- favicon_tag(theme.favicon) %>
  <title>文档中心</title>
  <%- css(['css/style.css', 'css/hightlight.css']) %>
  <%- js(['script/script.js']) %>
</head>
<body>
  
